.discover {
    position: relative;
    z-index: 10;
    background: #FDFCFF;
    padding: 96px 0;

    &__item {
        width: 352px;
        padding: 0 24px;
        border-left: 2px solid #EAEBFF;
        height: 566px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            width: 100%;
            margin-top: 64px;
            border-radius: 12px;
        }

    }

    &__slider {
        margin-top: 64px;
    }

    .wrap {
        position: relative;

        .swiper {
            position: static;
        }

        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: -70px;
        }

        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: -70px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: 62%;
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 56px;
            height: 56px;
            background: #523EE5;
            box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 16px 24px rgba(48, 49, 51, 0.1);
            border-radius: 32px;
        }

        
        .swiper-button-prev {
            transform: rotate(180deg);
        }
        .swiper-button-next::after,
        .swiper-button-prev::after {
            background-image: url('../img/icons/arrow.png');
            font-size: 0;
            width: 33.01px;
            height: 27.42px;
            background-size: 100% 100%;
        }
    }
}